<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
    h1 {
    background: #3b5998;
    color: #ffffff;
    padding: 2px;
    }
    h2 {
    color: #3b5998;
    }
    h3 {
    background: #6699cc;
    color: #ffffff;
    padding: 2px;
    }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Наше приложение</a>
            {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
        </nav>
    </header>
    <main role="main" class="container">
        <h1 align="center">НОВОСТОК<font size="+10"></font></h1>
        <h4>Будь в гуще событий</h4>
        <div class="alert alert-primary" role="alert">
                      Смотри, как проводят время тви друзья, делись своими новостями, отмечай понравившиеся записи
                    </div>
        {% if current_user.is_authenticated %}
        <a class="btn btn-warning" href="/news">Создать новость</a>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>