{% extends "base.html" %}

{% block content %}
<h2>Записи в блоге</h2>
{% for item in news%}
<div class="col-md6 border rounded">
    <h3>{{item.title}}</h3>
    <div>
        {{item.content}}
    </div>
    <img src={{item.photo}}>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
    <div>
        Понравилось {{item.like}} людям
        Не понравилось {{item.dislike}} людям
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    {% if current_user.is_authenticated and current_user != item.user %}
        <p>
        <a class="btn btn-success" onclick="like()">Понравилось</a>
            <a class="btn btn-danger" onclick="dislike()">Не понравилось</a>
        <script>
            function like() {
            {{item.like}} = {{item.like}} + 1
            }
            function dislike() {
            {{item.dislike}} = {{item.dislike}} + 1
            }
        </script>
    </p>
{% endif %}
</div>
{% endfor %}
{% endblock %}